<div class="card border-dark">
        <div class="card-header text-dark">
              <%= search_form_for @search,url: search_invoices_path, html: { method: :post} do |f| %>
                <div class="adm-date-field">
                  <ul class="list-inline text-center d-flex justify-content-center">

                    <li>
                     <div class="input-group" id="adm-inv-input-gp">
                         <span class="input-group-text" id="addon-wrapping">Date From:</span>
                         <b><%=f.date_field :created_at_gteq, autofocus: true, max: Time.zone.today+1.day, class: "form-control rounded-left", aria_describedby: "addon-wrapping" %></b>
                     </div>
                    </li>

                    <li>
                     <div class="input-group" id="adm-inv-input-gp">
                         <span class="input-group-text" id="addon-wrapping">Date To:</span>
                         <b><%=f.date_field :created_at_lteq, autofocus: true, max: Time.zone.today+1.day, class: "form-control rounded-left", aria_describedby: "addon-wrapping" %></b>
                     </div>
                    </li>

                    <li>
                     <div class="input-group" id="adm-inv-input-gp">
                         <span class="input-group-text" id="addon-wrapping">Invoice ID:</span>
                         <b><%=f.number_field :id_eq, autofocus: true, max: Time.zone.today+1.day, class: "form-control rounded-left", aria_describedby: "addon-wrapping", style: "width:auto;" %></b>
                     </div>
                    </li>

                    <li>
                      <div class="btn-group" role="group" id="adm-inv-btn-group">
                        <%= f.submit "Search", class: "form-control btn btn-outline-primary rounded", style: "margin-right:1em;" %>
                      
                        <%= link_to "Reset",root_path, class: "btn btn-outline-dark rounded form-control", style: "margin-right:1em;" %>

                        <%# link_to "Dashboard",admin_dashboard_index_path, class: "btn btn-outline-success rounded form-control" %>
                      </div>
                    </li>
                  </ul>
                </div>
              <% end %>
        
          </div>
        
          <div class="table-responsive">
            <table class="table invoice-sty table-hover table-sm text-center ">
              <thead>
                <tr>
                    <th><%= sort_link(@q, :id, 'Invoice ID:') %></th>
                    <th><%= sort_link(@q, :created_at, 'Created On') %></th>
                    <th>Student</th>
                    <th>Total</th>
                    <th>Paid for</th>
                    <th><%= sort_link(@q, :payment_mode, 'Payment Mode') %></th>
                    <th>Class</th>
                    <th>Created By</th>
                    <th colspan="4" class="text-center">Actions</th>
                </tr>
              </thead>

              <tbody>
                  
                  <% @invoices.each do |invoice| %>
                  <% missing_inv_month_ids = [] %>
                  <% @invoices.kept.each do |inv| %>
                      <% if !inv.month_to.present? || !inv.month_from.present? %>
                        <% missing_inv_month_ids << inv.id %>
                        <% flash[:error] = "Invoice from/to is missing for Invoice ids: #{Array.new(missing_inv_month_ids)} in this page" %>
                      <% end %>
                  <% end %>

                  
                        <tr>
                          <td><%= invoice.id %></td>
                          <td><%= invoice.created_at.strftime("%d-%m-%Y") %></td>
                          <td><%= invoice.student.first_name %> <%= invoice.student.last_name %></td>
                          <td><%= invoice.total %></td>
                          <td>
                           
                                <% if month_name(invoice.month_from) != month_name(invoice.month_to) %>
                                    <%= month_name(invoice.month_from).present? ? month_name(invoice.month_from)+" "+invoice.month_from.split("-").first[2,3] : "<a href='#''>Missing</a>".html_safe %> to <%= month_name(invoice.month_to).present? ? month_name(invoice.month_to)+" "+invoice.month_to.split("-").first[2,3] : "<a href='#''>Missing</a>".html_safe %>
                                  <% else %>
                                    <%= month_name(invoice.month_to).present? ? month_name(invoice.month_to)+" "+invoice.month_to.split("-").first[2,3] : "<a href='#''>Missing</a>".html_safe %>
                                  <% end %>
                           
                                
                           
                          </td>
                          <td><%= invoice.payment_mode %></td>
                          <td><%= invoice.student.grade %></td>
                          <td><%= invoice.user.username %></td>
                          <td><%= link_to 'Show <i class="bi bi-receipt-cutoff"></i>'.html_safe, invoice, style: 'font-size:0.9em;',class: 'btn btn-outline-primary' %></td>
                          <td><%= link_to 'Edit <i class="bi bi-pass-fill"></i>'.html_safe, edit_invoice_path(invoice), style: 'font-size:0.9em;', class: 'btn btn-outline-secondary' %></td>
                          <% if invoice.kept? %>
                                <td><%= link_to 'Delete <i class="bi bi-trash3-fill"></i>'.html_safe, invoice, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-outline-danger', style: 'font-size:0.9em;'%></td>
                          <% else %>
                                <td><strong>Already Deleted!</strong></td>
                          <% end %>
                          
                        </tr>
                      <% end %>
                </tbody>

                <!--<tfoot> add total for table for admin
                  <tr>
                    <th colspan="2"></th>
                    <th>Total: <% @invoices.where(created_at: (Time.zone.today.beginning_of_day-1.week)..Time.zone.today.end_of_day).sum(:total) %></th>
                  </tr>
                </tfoot> -->
            </table>
          </div>

        <div class="card-body text-center">
          
          <div class="btn-group">
            <button type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Total for <%= Time.zone.today.strftime("%d-%m-%Y") %> : <%= number_to_currency(Invoice.all.kept.where(created_at: Time.zone.today.beginning_of_day..Time.zone.today.end_of_day).sum(:total), unit: "₹", raise: true) %>
            </button>
            <div class="dropdown-menu text-center" style="width:100%">
              <a class="dropdown-item" href="#">Cash : <%= number_to_currency(Invoice.all.kept.where(created_at: Time.zone.today.beginning_of_day..Time.zone.today.end_of_day, payment_mode: 'Cash').sum(:total), unit: "₹", raise: true) %></a>
              <a class="dropdown-item" href="#">Online : <%= number_to_currency(Invoice.all.kept.where(created_at: Time.zone.today.beginning_of_day..Time.zone.today.end_of_day, payment_mode: 'Online').sum(:total), unit: "₹", raise: true) %></a>
            </div>
          </div>          

          <!--<ul class="list-inline text-center d-flex justify-content-center">
            <li class="list-group-item">
              Total Cash amount for <%# Time.zone.today.strftime("%d-%m-%Y") %> :
              <span class="total-amt rounded"> <%# number_to_currency(Invoice.all.kept.where(created_at: Time.zone.today.beginning_of_day..Time.zone.today.end_of_day, payment_mode: 'Cash').sum(:total), unit: "₹", raise: true) %></span>
            </li>
            <li class="list-group-item">
              Total Online amount for <%# Time.zone.today.strftime("%d-%m-%Y") %> :
              <span class="total-amt rounded"> <%# number_to_currency(Invoice.all.kept.where(created_at: Time.zone.today.beginning_of_day..Time.zone.today.end_of_day, payment_mode: 'Online').sum(:total),unit: "₹", raise: true) %></span>
            </li>
          </ul> -->
        </div>


        <div class="card-footer">
          <%= paginate @invoices %>
        </div>
</div>