<div class="card border-dark" id="show-invoices">
    <div class="card-header text-dark ">
        <ul class="list-inline text-center d-flex justify-content-center">  
                  <%= form_with(model: invoice, local: true) do |form| %>
                    <!--<% if invoice.errors.any? %>
                      <div id="error_explanation">
                        <h3 class="alert-heading"><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h3>

                        <ul>
                          <% invoice.errors.full_messages.each do |message| %>
                            <li><% flash[:error] = message %></li>
                          <% end %>
                        </ul>
                      </div>
                    <% end %>-->
                    
                    
                    <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-text" id="addon-wrapping"><strong>Invoice from:</strong></span>
                          <b><%= form.month_field :month_from, min: Date.parse("01-01-2022"), max: Time.zone.today+2.month, class: 'form-control rounded-left' ,aria_describedby: "addon-wrapping", autofocus: true, style: 'width:300px; margin-bottom:0.9em;', value: invoice.month_from %></b>
                      </div>
                    </div>
                    

                    <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-text" id="addon-wrapping"><strong>Invoice to:</strong></span>
                          <b><%= form.month_field :month_to, min: Date.parse("01-01-2022"), max: Time.zone.today+2.month, class: 'form-control rounded-left', aria_describedby: "addon-wrapping", autofocus: true, style: 'width:300px; margin-bottom:0.9em;', value: invoice.month_to %></b>
                          <b class="blockquote-footer text-dark text-left" style="margin-top:0.1em">Enter same <u>from:</u> and <u>to:</u> month if entry is for 1 month</b>
                      </div>
                    </div>
                    

                    <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-text" id="addon-wrapping"><strong>Class:</strong></span>
                          <b><%= form.text_field :class_no, autofocus: true, class: "form-control rounded-left", aria_describedby: "addon-wrapping", value: @student.grade, readonly: :true, style: 'width:300px; margin-bottom:0.9em;' %></b>
                      </div>
                    </div>
                    

                     <b><%= form.hidden_field :student_id, autofocus: true, class: "form-control rounded-left", aria_describedby: "addon-wrapping", value: @student.id, readonly: :true, style: 'width:300px' %></b>
                    

                    <div class="form-group">
                          <div class="input-group">
                              <span class="input-group-text" id="addon-wrapping"><strong>Fee Type:</strong></span>
                              <b><%= form.select(:payment_mode, options_for_select([['Online','Online'],['Cash','Cash'],['Cheque','Cheque']]) , {}, { class: 'form-control rounded-left', style: 'width:300px; margin-bottom:0.9em;' }) %></b>
                          </div>
                    </div>
                    

                    <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-text" id="addon-wrapping"><strong>Receipt No:</strong></span>
                          <b><%= form.number_field :receipt_number, autofocus: true, class: "form-control rounded-left", aria_describedby: "addon-wrapping", style: 'width:300px; margin-bottom:0.9em;' %></b>
                      </div>
                    </div>
                    
<<<<<<< HEAD
                    <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-text" id="addon-wrapping"><strong>Notes:</strong></span>
                          <b><%= form.text_area :notes, autofocus: true, class: "form-control rounded-left", aria_describedby: "addon-wrapping", style: 'width:300px; margin-bottom:0.9em;', placeholder: "Enter Invoice details if needed" %></b>
                      </div>
                    </div>

                      <b><%= form.hidden_field :user_id, autofocus: true, class: "form-control rounded-left", aria_describedby: "addon-wrapping", value: current_user.id, readonly: :true, style: 'width:300px' %></b>
=======

                      <b><%= form.hidden_field :user_id, autofocus: true, class: "form-control rounded-left", aria_describedby: "addon-wrapping", value: current_user.id, readonly: :true, style: 'width:300px' %></b>
                    
>>>>>>> origin/main

                    <div class="actions">
                      <%= form.submit class: 'input-group btn btn-outline-primary' ,style: 'max-width:30em;'  %>
                    </div>
              <% end %>
        </ul>
    </div>
</div>