<div class="card border-dark">
		<div class="card-header text-dark">
			<div class="table-responsive">
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th>Invoice id</th>
							<th>Date</th>
							<th>Student Name</th>
							<th>Status</th>
							<th>Cheque No</th>
							<th>Amount</th>
							<th>Bank Name</th>
						</tr>
					</thead>


					<tbody>
						<% @invoices.each do |invoice| %>
							<tr>
								<td><%= link_to invoice.id, invoice_path(invoice) %></td>
								<td><%= invoice.created_at.strftime("%d-%m-%Y") %></td>
								<td><%= invoice.student.first_name %> <%= invoice.student.last_name %></td>
								<td><%= invoice.status %></td>
								<td><%= invoice.cheque_no %></td>
								<td><%= invoice.total %></td>
								<td><%= invoice.bank_account.upcase %></td>
								<td><%= button_to 'Mark as Paid', invoice, method: :put, params: {"invoice[status]" => "Paid"}, class: 'btn btn-outline-success', style: 'width:250px' %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>			
		</div>
</div>