<div class="table-responsive text-center" style="font-family: open-sans;font-size: 0.9em;">
	<table class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
		<thead>
		  <tr>
		    <th>First name</th>
		    <th>Last name</th>
		    <th>Date of Birth</th>
		    <th>Date of Admission</th>
		    <th>Admission no</th>
		    <th>Phone number</th>
		    <th>Class</th>
		    <th>Section</th>
		    <th>Father name</th>
		    <th>Mother name</th>
		    <th colspan="1"></th>
		  </tr>
		</thead>

		<tbody>
		  <% @students.each do |student| %>
		    <tr>
		      <td><%= student.first_name %></td>
		      <td><%= student.last_name %></td>
		      <td><%= student.dob.strftime("%d-%m-%Y") unless student.date_of_admission.nil? %></td>
		      <td><%= student.date_of_admission.strftime("%d-%m-%Y") unless student.date_of_admission.nil? %></td>
		      <td><%= student.admission_no %></td>
		      <td><%= student.phone_number %></td>
		      <td><%= student.grade %></td>
		      <td><%= student.section %></td>
		      <td><%= student.father_name %></td>
		      <td><%= student.mother_name %></td>
		      <td><%= link_to 'Restore', undiscard_student_path(student), 
		      		class: 'btn btn-outline-secondary btn-round btn-sm', 
		      		method: :patch %></td>
		    </tr>
		  <% end %>
		</tbody>

	</table>
	
</div>