<!--<h3 style="margin-bottom:20px;">Students</h3> -->

<div class="container text-center">
  <%= render 'students/search_form.html.erb' %>
</div>
<div class="container fluid text-center">
  <%= link_to 'TC Student List', removed_students_path, class: 'btn btn-outline-primary btn-sm rounded', style: 'width:300px;margin-bottom:1em;' unless !current_user.admin?%>
  <%= link_to 'Add New Student', new_student_path, class: 'btn btn-outline-primary btn-sm rounded', style: 'width:300px;margin-bottom:1em;' %>
  <%= link_to 'Pending fee', pending_fee_students_path, class: 'btn btn-outline-primary btn-sm rounded', style: 'width:300px;margin-bottom:1em;' %>
</div>
<table class="table table-sty table-hover table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Date of Birth</th>
      <th>Date of Admission</th>
      <th>Admission no</th>
      <th>Phone number</th>
      <th>Class</th>
      <th>Section</th>
      <th>Father name</th>
      <th>Mother name</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.dob.strftime("%d-%m-%Y") unless !student.dob.present?%></td>
        <td><%= student.date_of_admission.strftime("%d-%m-%Y") unless !student.date_of_admission.present?%></td>
        <td><%= student.admission_no %></td>
        <td><%= student.phone_number %></td>
        <td><%= student.grade %></td>
        <td><%= student.section %></td>
        <td><%= student.father_name %></td>
        <td><%= student.mother_name %></td>
        <td><%= link_to '<i class="bi bi-receipt-cutoff"></i>'.html_safe, students_show_invoices_path(student), class: 'btn btn-info btn-sm' %></td>
        <td><%= link_to '<i class="bi bi-pass-fill"></i>'.html_safe, edit_student_path(student), class: 'btn btn-secondary btn-round btn-sm' %></td>
        <td><%= link_to '<i class="bi bi-trash3-fill"></i>'.html_safe, student, method: :delete, class: 'btn btn-danger btn-round btn-sm', data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Add <i class="bi bi-receipt-cutoff"></i>'.html_safe, new_student_invoice_path(student), class: 'btn btn-primary btn-round btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<div class="container text-center" style="margin-bottom: 2.5em;">
  <%= paginate @students %>  
  
        <% if current_user.admin? %>
              <div class="card" id="import-crd">
                <div class="card-header">
                  <h5>Import Students From CSV File</h5>
                </div>
                <div class="card-body" style="background-color:#333;">
                  <div class="input-group" id="import-grp">
                
                      <%= form_tag import_students_path, multipart: true do %>
                        <span class="btn btn-sm btn-info btn-file opacity-50" style="margin-bottom:1em;">
                        <%= file_field_tag :file, accept: '.csv', style: 'width:300px;', class: 'fw-bolder' %></span>
                        <%= submit_tag "Upload File!",class: 'btn btn-outline-success btn-round btn-sm', style: 'width:15em;' %>
                      <% end %>

                    
                  </div>
                </div>
              </div>
        <% end %>
</div>
