<div class="container text-center" style="font-family: open-sans; max-width: 75em;font-size: 0.9em;">
	<div class="card border-dark">
		<div class="card-header text-dark">
			<p class="fw-bolder">Students Pending Fee List</p>
		</div>

		<div class="card-body">
			<table class="table table-hover table-sm">
				<thead>
					<tr>
						<th>ID</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Class</th>						
						<th>Actions</th>
					</tr>
				</thead>

				<tbody>
					<% @students.order(grade: :desc).each do |student| %>
					<tr>
						<td><%= student.id %></td>
						<td><%= student.first_name %></td>
						<td><%= student.last_name %></td>
						<td><%= student.grade %></td>
						<td>
							<div class="btn-group justify-content-around">
								<button class="btn btn-sm btn-outline-primary me-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample<%= student.id %>" aria-expanded="false" aria-controls="collapseExample">
									<i class="bi bi-exclamation-triangle-fill"></i>
								</button>
								<div class="collapse" id="collapseExample<%= student.id %>">
									<div class="card card-body bordered">
										<% if student.pending_fees.keys.count > 1 %>
											<% student.pending_fees.keys.each do|year| %>
												<div class="vstack gap-1 mx-auto">
													<button class="btn btn-outline-secondary text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample<%= student.id.to_s+year %>" aria-expanded="false" aria-controls="collapseExample">	   
														Year: <%= year %>
													</button>								      						        
													<div class="collapse" id="collapseExample<%= student.id.to_s+year %>">	
														<div class="card card-body border-danger">
															<% if year.to_i != Time.zone.today.year %>
																<% month_names(student.pending_fees[year]).each do |months| %>
																		<span class="fw-bolder"><%= month_names(student.pending_fees[year]).count > 1 && months != "December" ? months+"," : months %></span>
																<% end %>
															<% else %>
																<% month_names(student.pending_fees[year]).each do |months| %>
																	<% if months.to_date < Time.zone.today %>
																		<span class="fw-bolder"><%= month_names(student.pending_fees[year]).count > 1 && months != "December" ? months+"," : months %></span>
																	<% end %>
																<% end %>
															<% end %>
														</div>
													</div>
											</div> 
											<% end %>
										<% else %>
										<div class="vstack gap-1 mx-auto">    
										<button class="btn btn-outline-secondary text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample<%= student.id.to_s+student.grade %>" aria-expanded="false" aria-controls="collapseExample">
												Year: <%= student.pending_fees.keys.first %>
											</button>
											<div class="collapse" id="collapseExample<%= student.id.to_s+student.grade %>">
												<div class="card card-body border-danger">
														<% month_names(student.pending_fees.values.first).each do |months| %>
															<span class="fw-bolder"><%= month_names(student.pending_fees.values.first).count > 1 && months != "December" ? months+"," : months %><span></span>
													<% end %>
												</div>
											</div>
										</div>								        
										<% end %>
									</div>
								</div>																							
								<%= link_to '<i class="bi bi-receipt-cutoff"></i>'.html_safe, students_show_invoices_path(student), class: 'btn btn-outline-primary btn-sm me-2' %>											
								<%= button_to({ action: "send_fee_reminder", id: student.id },
												method: :post,
												data: { confirm: "Sending message of fee reminder to the student. Press Ok to confirm and send.",
														disable_with: "Sending........" },
												class: "btn btn-outline-primary btn-sm me-2") do %>
									<i class="bi bi-send-check-fill"></i>
								<% end %>
							</div>
						</td>						
					</tr>
					<% end %>		
				</tbody>
				
			</table>
		</div>

		<div class="card-footer">
			<%= paginate @students %>
		</div>
	</div>
</div>