<div class="table-responsive" style="font-size: 0.8em;">
  <table class="table table-sm table-hover table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Sign In Count</th>
        <th>Last Sign In</th>
        <th>Phone Number</th>
        <th>Invoices created</th>
        <th>Email Confirmed</th>
        <th>Admin</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <td><%= user.sign_in_count %></td>
          <td><%= user.current_sign_in_at.present? ? time_ago_in_words(user.current_sign_in_at)+' Ago' : 'Never Logged In' %></td>
          <td><%= user.phonenum %></td>
          <td><%= user.invoices.count %></td>
          <td><%= user.confirmed_at.present? ? time_ago_in_words(user.confirmed_at)+' Ago' : 'No' %></td>
          <td><%= user.admin?.to_s.first.capitalize %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>