<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mimis Invoice App</title>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>    
    
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    
    <%# yield(:header) if @content_for_header %>

  </head>

  <body>
    <%= render "layouts/navbar" %>
    
    <div class="container-fluid" style="margin-top:1em;">
          <!-- Blocked header to render before login works for both html & css code-->          

          <% if flash[:notice] %>
            <div class="alert alert-success alert-dismissible fade show m-1 text-center" role="alert" style="height:55px;">
              <p class="text-center fw-bolder" style="font-size:18px;"><%= flash[:notice] %></p>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"></span>
                  </button>
            </div>
          <% elsif flash[:error] %>
            <div class="alert alert-danger alert-dismissible fade show m-1" role="alert" style="height:55px;">
              <p class="text-center fw-bolder" style="font-size:18px;"><%= flash[:error] %></p>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"></span>
                  </button>
            </div>
            <% elsif flash[:alert] %>
            <div class="alert alert-primary alert-dismissible fade show m-1" role="alert" style="height:55px;">
              <p class="text-center fw-bolder" style="font-size:18px;"><%= flash[:alert] %></p>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"></span>
                  </button>
            </div>
          <% end %>
          
          <%= yield %>
    </div>
    </body>
</html>